{% extends 'base.html' %}

{% block content %}
    <h2>{{ object.name }}</h2>
    <a href="{% url 'forum:add_thread' object.slug %}">New Thread</a>
    <table>
        <tr>
            <th>Thread Title</th>
            <th>Posted By</th>
            <th>Posted On</th>
            <th>No. of Replies</th>
        </tr>
    {% for thread in list_items %}
        <tr>
            <td><a href="{% url 'forum:thread_home' thread.slug %}">{{ thread.title }}</a></td>
            <td>{{ thread.author.username }}</td>
            <td>{{ thread.created|date }}</td>
            <td>{{ thread.num_replies }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}
