{% extends 'base.html' %}

{% block content %}
    <h2>{{ object.title }}</h2>
    <a href="{% url 'forum:thread_reply' object.slug %}">Reply</a>
    <div>
        <div class="col-md-12">
            <div class="col-md-3">
                {{ object.thread_starter.author.username }}<br/>
                {{ object.thread_starter.created }}
            </div>
            <div class="col-md-9">{{ object.thread_starter.post}}</div>
        </div>
    {% for post in list_items %}
        {% include 'forum/includes/forum_post.html' %}
    {% endfor %}
    </div>
{% endblock content %}
