{% extends 'base.html' %}

{% block content %}
    <table>
    {% for main in object_list %}
        <tr>
            <th><a href="{% url 'forum:category_home' main.slug %}">{{ main.name }}</a></th>
        </tr>
        {% for sub in main.children.all %}
        <tr>
            <td><a href="{% url 'forum:category_home' sub.slug %}">{{ sub.name }}</a></td>
            <td>{{ sub.forumthread_set.count }}</td>
            <td>{{ sub.post_count }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </table>
{% endblock content %}
