{% extends 'base.html' %}

{% block content %}
    <div id="category_list">
    {% for main in object_list %}
        <h3><a href="{% url 'forum:category_home' main.slug %}">{{ main.name }}</a></h3>
        <table>
            <thead>
                <tr>
                    <td>Category</td>
                    <td>No. of Threads</td>
                    <td>No. of Posts</td>
                </tr>
            </thead>
            <tbody>
            {% for sub in main.children.all %}
                <tr>
                    <td><a href="{% url 'forum:category_home' sub.slug %}">{{ sub.name }}</a></td>
                    <td>{{ sub.forumthread_set.count }}</td>
                    <td>{{ sub.post_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    </div>
{% endblock content %}
