{% extends 'base.html' %}

{% block content %}
    <h2>{{ object.title }}</h2>
    <table>
    {% for post in list_items %}
        <tr>
            <td>
                {{ post.author.username }}<br/>
                {{ post.created }}
            </td>
            <td>
            {% if post.reply_to %}
                <div class="reply_to">
                    {{ post.reply_to.author.username }} posted<br/>
                    <hr/>
                    {{ post.reply_to.post }}
                </div>
            {% endif %}
                {{ post.post}}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}
