        <table id="list-table" class="table table-bordered col-md-12">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">Forum</th>
                    <th>Threads</th>
                    <th>Posts</th>
                    <th>Last post</th>
                </tr>
            </thead>
            <tbody>
                {% for sub in list_items %}
                <tr>
                    <td class="col-md-1"></td>
                    <td class="sub_title col-md-7"><a href="{% url 'category_home' slug=sub.slug %}">{{ sub.name }}</a>{% if sub.description %}<p>{{ sub.description }}</p>{% endif %}</td>
                    <td class="col-md-1">{{ sub.forumthread_set.count }}</td>
                    <td class="col-md-1">{{ sub.post_count }}</td>
                    <td class="col-md-2">Date</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
