    <table>
        <thead>
            <tr>
                <td>Category</td>
                <td>No. of threads</td>
                <td>No. of posts</td>
            </tr>
        </thead>
        <tbody>
            {% for sub in list_items %}
            <tr>
                <td><a href="{% url 'forum:category_home' sub.slug %}">{{ sub.name }}</td>
                <td>{{ sub.forumthread_set.count }}</td>
                <td>{{ sub.post_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
