    <table>
        <thead>
            <tr>
                <td>Thread Title</td>
                <td>Posted By</td>
                <td>Posted On</td>
                <td>No. of Replies</td>
            </tr>
        </thead>
        <tbody>
        {% for thread in list_items %}
            <tr>
                <td><a href="{% url 'forum:thread_home' thread.slug %}">{{ thread.title }}</a></td>
                <td>{{ thread.author.username }}</td>
                <td>{{ thread.created|date }}</td>
                <td>{{ thread.num_replies }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


